# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# База данных
*.db
*.sqlite3

# Переменные окружения
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Alembic
alembic/versions/*.pyc

# Pytest
.pytest_cache/
htmlcov/
.coverage

# OS
.DS_Store
Thumbs.db
project_architecture.txt

# Just files
project_architecture.txt