version: "3.9"

services:
  api:
    build: .
    container_name: api
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      db:
        condition: service_healthy

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./frontend:/usr/share/nginx/html:ro
    depends_on:
      - api

  db:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_DB: pers_finance
      POSTGRES_USER: ashi
      POSTGRES_PASSWORD: mymainpass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ashi -d pers_finance"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: